
.header-container{
  display: flex;
  align-items: center;
  height: 800px;
  box-sizing: border-box;
  max-width: 1000px;
  position: relative;
  top: 150px;
  margin-bottom: 10%;
}
.header-img{
  background-image: url('../Images/Profile.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
 
}
.header-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  padding: 2vw;
  margin-top:-3%;
}
.web{
  top: 27%;;
  font-size: 60px;
}

.hello{
  margin-bottom: 7%;
}
.nameHeader{
  font-size: 50px;
}
@media only screen and (max-width: 900px ){
  .web{
    top:15%;
    font-size: 55px;
  }
}
@media only screen and (max-width: 700px ){
  .header-img{
    position: absolute;
    width: 75%;
    opacity: 0.5;
    z-index: 0;
    background-size: contain;
    top: -20px;
  }
  .header-text{
    margin-top: -15%;
  }
  .web{
    top:20%;
    font-size: 70px;
  }
}
@media only screen and (min-width: 700px ){
  .header-img{
    opacity:1;
  }
}
@media only screen and (max-width: 500px ){
  .web{
    top:15%;
    font-size: 55px;
  }
  .nameHeader{
    font-size: 40px;
  }
  .header-text{
    margin-top: -35%;
  }
}
@media only screen and (max-width: 400px ){
  .web{
    top:11%;
    font-size: 55px;
  }
}