nav{
    display: flex;
    list-style-type: none;
    width: 100vw;
    padding: 0;
    margin: 0;
    color: white;

}
.nav-item{
    float: left;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    right: 0px;
    list-style-type: none;
    z-index: 100;
  position: fixed;
}
@media only screen and (max-width: 700px ){
  .nav-item>li{
    font-size: 2.5vw;
  }
}
.nav-item>li {
    
    text-align: center;
 
  text-decoration: none;
    cursor: pointer;
    width: 10vw;
  }

