.project{
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 3%;
    background-color: whitesmoke;
    width: 100%;
}

.g-container{
    justify-items: center;
    display: grid;
    grid-template-columns: 500px 500px 500px;
    gap: 50px;
    color: rgb(0, 0, 0);
    z-index: 2;
}
@media only screen and (max-width: 1500px){
    .g-container{
    grid-template-columns: 500px 500px;
    }
}
@media only screen and (max-width: 1000px){
    .g-container{
    grid-template-columns: 500px;
    }
}
@media only screen and (max-width: 400px){
    .g-container{
    grid-template-columns: 350px;
    }
}