.skills{
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    column-gap: 10vw;
    row-gap: 10vw;
    padding: 60px;
    width: 100%;
    
  margin-bottom: 10%;
    
}
@media only screen and (max-width: 1300px){
    .skills{
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 1000px){
    .skills{
        grid-template-columns: auto auto;
        gap: 15vw;
    }
}
@media only screen and (max-width: 800px){
    .skills{
        grid-template-columns: auto;
        gap: 20vw;
    }
}
@media only screen and (max-width: 500px){
    .skills{
        gap: 30vw;
    }
}
.skills-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 3%;
}
.programming{
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.5);
    color: black;
    position: relative;
}
.programming:hover{
    scale:1.05;
    transition: scale 0.25s ease-in-out;
}
.title{
    text-transform: uppercase;
	position: absolute;
	top: -75px;
	height: 50px;
	color: white;
	background-color: rgba(0, 0, 0, 1);
	width: 100%;
	left: 0;
	padding: 15px 15px 0 0;
	text-align: end;
	font-weight: 600;
	z-index: 1;
	font-size: 35px;
	line-height: 35px;
	transform: scaleY(1.65);
    
}
