.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: hidden;
}

