.App {
  background-color: transparent;
}

.middle {
  /* background: linear-gradient(#e66465, #9198e5); */
 
  border: 3px solid black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.navbar {
  margin: 0 50px;
}

/*CLOUD*/
div#parallax-bg-2 div {
  background: url("https://greensock.com/_img/codepen/clouds.png");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 488px;
  height: 225px;
  overflow: hidden;
}

div#bg-2-2 {
  top: -200px;
  right: 390px;
}

div#bg-2-4 {
  top: -160px;
  left: 200px;
}
div#bg-2-5 {
  top: 320px;
  right: -50px;
}
div#bg-2-6 {
  top: 120px;
  left: 140px;
}

.nav-li {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 0;
}

.mgl20 {
  margin-left: 20px;
  padding: 1.1rem 0 .8rem 0;
}


/*NAV BAR*/
li {
  position: relative;
  cursor: pointer;
  color: gray;
  font-weight: 500;
}
.test ul li::after {
  content: '';
  position: relative;
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  top: 3px;
  transition: width .75s ease, background-color .75s ease;
}
.test ul li:hover::after {
  width: 100% ;background: #c1E73E;
}

h1,h2,h4 {
  text-align: center;
}

.header {
  position: absolute;
  top: 260px;
  overflow: hidden;
}

.header-1,.header-2 {
  overflow: hidden;
  padding-top: 10px;
}

.header-3 {
  overflow: hidden;
}

.k1 {
  display:inline;
  position: relative;
}
.moon{
  display: inline-block;
  width:10%;
  margin-top: -38%;
  margin-right: -80%;
  position: absolute;
  background-color: transparent;

}